<ul>
  {{#if tech}}
    {{#each blogs}}
      <li>
        <a href="/tech/{{this.slug}}">
          {{this.title}}
        </a>
      </li>
    {{/each}}
  {{/if}}

  {{#if life}}
    {{#each blogs}}
      <li>
        <a href="/life/{{this.slug}}">
          {{this.title}}
        </a>
      </li>
    {{/each}}
  {{/if}}
</ul>